JavaScript/Javascript-kursmaterial
JavaScript/Små-test-projekt

HTML-CSS/Fundamental
HTML-CSS/Small-challange
HTML-CSS/slides-css-advance.pdf
HTML-CSS/Projekt-visa-upp/Natours/node_modules
HTML-CSS/Projekt-visa-upp/Nexter/node_modules
HTML-CSS/Projekt-visa-upp/Project-flexbox/node_modules

CV/Portfolio med sortering
React
