*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //62.5% definierar att 1 rem = 10px
  //100% = 16px = 1,6 rem
  //Detta gör det bara lättare att räkna
  font-size: 62.5%;

  box-sizing: border-box;
}
