@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); /*Startposition*/
  }

  80% {
    transform: translate(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0); /*Målposition*/
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); /*Startposition*/
  }

  80% {
    transform: translate(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0); /*Målposition*/
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); /*Startposition*/
  }

  100% {
    opacity: 1;
    transform: translate(0); /*Målposition*/
  }
}
